name: PHP Composer

on:
  push:
    branches: [ "3.x-develop" ]
  pull_request:
    branches: [ "3.x-develop" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: govcmstesting/php:8.1-apache
    steps:
    - name: Validate composer.json and composer.lock
      run: |
       ls -la
       ls -la /var/www
       service apache2 restart
       curl localhost
